.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    min-height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: all .2s;
    margin: 5px;
  }

  .hamburger:hover > .bar {
    background-color: #e2c000;
  }
  
  .bar {
    transition: all .2s;
    max-height: 3px;
    height: 3px;
    min-width: 100%;
    background-color: black;
  }
}