.checkout_headerTitle {
  text-transform: uppercase;
  margin-bottom: 2rem;

}

.checkout_formControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.checkout_formInput {
  height: 3rem;
  border: 1px solid gray;
}

.checkout_formLabel {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  color: gray;
}

.checkout_formBtn{
  height: 3rem;
  border: 1px solid black;
  outline: none;
  background-color: black;
  color: #f4f5f9;
  text-transform: uppercase;
  padding: 0 2rem;
  font-style: italic;
  transition: all .2s;
}

.checkout_formBtn:hover {
  background-color: gray;
}